body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.map-canvas { height: 100% }

.firstWord{
    font-weight:bold;
    color: #b82820;
}

footer img.cce-logo {
    width: 200px;
    float: right;
}

footer p {
    font-size: 12px;
    float: left;
    text-align: center;
}