.learnHeader {
    text-align:center;
    color:#8e4e24;
    text-shadow: #000 0.1em 0.1em 0.2em;
}

.pageName {
	color:#000000;
	text-shadow: #8e4e24 0.1em 0.1em 0.2em;
}

.learnList li a {
    color: #8e4e24;
}

.firstWord{
	font-weight:bold;
        color: #b82820;
}

.learnList li a:hover{
	color:#b82820;
}

.brownTable {
    background-color:#8e4e24;
    color:#ddd;
    text-shadow: #000 0.1em 0.1em 0.2em;
}