body{
	background:#eee;
}

.Container{
	margin: 0 auto 0 auto;
	width: 960px;
	background:white;
	border-left:1px solid #8e4e24;
	border-right:1px solid #8e4e24;
	border-top:1px solid #8e4e24;
	
}

.Pages{
	border-bottom:2px solid #8e4e24;
	margin-bottom:15px;
}

.currentPage {
	font-style:italic;
}

.Pages li {
	display:inline;
	/*background:#00dddd;*/
	width: 500 px;
	text-align:center;
	margin: 0px 5px 0 5px;
}

.Pages ul{
	margin: 0;
}

.Pages a {
	color:#8e4e24;
	text-decoration:none;
	font-weight:bold;
	text-align:center;
}

.Pages a:hover {
	color:#333;
}

h1 {
	text-align:left;
	width:400px;
	padding: 20px 0 5px 5px;
	background-color: #8e4e24;
	border-radius: 10px;
	-moz-border-radius: 10px; /*firefox*/
	-webkit-border-radius: 10px; /*safari*/
	color:white;
	text-shadow: #000000 0.1em 0.1em 0.2em;
	float:left;
	margin-left:5px;
	/*position:relative;*/
}

h2 {
	color:#000000;
	text-shadow: #8e4e24 0.1em 0.1em 0.2em;
	margin: 47px 5px 0 5px;
	padding:0 0 30px 10px;
	float:left;
}

h3 {
	margin: 0 0 0 5px;
}

.ImageCow {
	float:left;
	margin: 5px 5px 5px 5px;
}

.ImageMeat {
	float:right;
	margin: 5px 5px 5px 5px;
}

.Paragraph p{
	width : auto;
	margin-right:5px;
	margin-left:5px;
}

table, th, td {
	border-collapse:collapse;
	text-align:center;
	padding:0 8px 0 8px;
	margin-left:auto;
	margin-right:auto;
}

table{
	border-style:hidden;
}

th {
	background:#8e4e24;
	border:1px solid #8e4e24;
	border-bottom:1px solid black;
	color:white;
	text-shadow: #000000 0.1em 0.1em 0.2em;
}

td {
	border:1px solid black;
}	

.Register{
	border-right:1px solid #8e4e24;
	border:1px solid black;
	margin:0 auto 0 auto;
	width:345px;
	
}

.companies {
	text-decoration:none;
	color:#000;
}

.farm a{
	color:#000;
	text-decoration:none;
}

.farm a:hover {
	color:#555;
}

#here{
	text-decoration:none;
	color:#000;
}

#here:hover, .sites:hover{
	font-weight:bold;
}

.sites{
	text-decoration:none;
	color:#000;
	text-shadow: #8e4e24 0.1em 0.1em 0.2em;
	margin:0 0 0 5px;
}

#ShopName{
	text-align:right;
	width:200px;
	padding: 20px 5px 5px 0;
	background-color: #ddd;
	border-radius: 10px;
	-moz-border-radius: 10px; /*firefox*/
	-webkit-border-radius: 10px; /*safari*/
	color:black;
	text-shadow: #8e4e24 0.1em 0.1em 0.2em;
	float:left;
	margin:0 5px 0 5px;
	position:absolute;

}

#profileTable{
	float:left;
	margin: 65px 5px 5px 5px;
	position:relative;
	bottom:5px;
}

.under{
	/*position:relative;
	bottom:5px;*/
}

.subMenu{
	margin:-15px 0px 0px 0px;
	float:left;
	clear:both;
	border-right: 2px solid black;
	width: 200px;
}

.subMenu li {
	text-align:center;
	text-decoration:none;
	color:#000;
	text-shadow: #8e4e24 0.1em 0.1em 0.2em;
	margin:0 0 0 5px;
}

.subMenu ul{
	height:auto;
	padding: 0px 10px 10px 20px;
}

.subMenu a {
	color:#000000;
	text-decoration:none;
	font-weight:bold;
	text-align:center;
}

.subMenu a:hover {
	color:#0000dd;
}

.title, .subtitle{
	text-align:center;
	font-weight:bold;
	text-decoration:underline;
	color:#b82820;
}

.firstWord{
	font-weight:bold;
}

.marginize{
	margin: 0 0 -30px 200px;
	padding: 0px 0 10px 25px;
	border-left: 2px solid black;
}

#bar{
	text-align:center;
	margin-bottom:5px;
}

.link{
	color:blue;
	text-decoration:none;
}

.link:hover{
	color:#4646f1;
}

a.active {
    font-weight: bold;
    color: black;
}