<?php

error_reporting(E_ALL);
ini_set('display_errors', '1');

define('MYSQL_DATABASE', 'db');
define('MYSQL_SERVER', 'localhost');
define('MYSQL_USERNAME', 'root');
define('MYSQL_PASSWORD', 'root');
define("USER", "");
define("PASS", "");
